@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .App {
    header {
      text-align: left;
      padding: 1em 0 1em 1em;
      h1 {
        display: inline-block;
        margin-right: 1em;
        margin-top: 0px;
        .firstLetter {
          font-weight: 100;
        }
      }
      select {
        display: inline-block;
      }
    }
    article {
      img {
        max-width: 100%;
      }
      a {
        text-decoration: none;
        color: #000000;
        h1 {
          font-weight: 300;
        }
      }
    }
    footer {
      padding: 1em;
      font-weight: 400;
      text-align: center;
      .firstLetter {
        font-weight: 100;
      }
    }
    .menu {
      text-align: center;
      li {
        display: inline-block;
        margin-right: 1em;
      }
    }
    .settingsMenu {
      padding: 1em;
      text-align: center;
      .settingsItem {
        label {
          margin-right: 1em;
          font-weight: 500
        }
        padding: 0.5em;
      }
    }
  }
}
